<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Prueba de base de datos</name>

<description>
Conexión de base de datos Interna y externa.
</description>

<author href="#" email="marco.demetrio@gmail.com">
Marco Antonio Demetrio López
</author>

<preference name="phonegap-version" value="3.7.0" />

</widget>
